* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: small;
    color: var(--borderColor);
}

:root {
    --bgColor: rgb(255, 161, 169);
    --borderColor: rgb(42, 42, 99);
}

body {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 700px;
}


.container {
    background-color: var(--bgColor);
}

.intro,
.about_address,
.work_container,
.skills,
.award_container,
.interest_container,
.education_container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--borderColor);
}

.about_address {
    border-left: 3px solid var(--borderColor);
    line-height: 1.1rem;
}

.name {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.9rem;
}

.position {
    margin-left: 3px;
}

.org {
    font-weight: 700;
}

.detail {
    font-size: 0.9rem;
}

.award_container {
    border-left: 3px solid var(--borderColor);
}

.award_name {
    font-weight: 700;
}

.divider {
    height: 5px;
    width: 5px;
    background-color: var(--borderColor);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
}

.small {
    height: 4px;
    width: 4px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: var(--borderColor);
    border-radius: 50%;
    display: inline-block;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

i {
    border-radius: 50%;
    border: 3px solid var(--borderColor);
    padding: 15px;
    font-size: 2rem;
}

.icons i {
    width: 4.5rem;
    text-align: center;
}


.interest_icon_container i {
    background-color: var(--borderColor);
    color: var(--bgColor);
    text-align: center;
}

@media only screen and (max-width : 450px) {
    .name {
        font-size: 6vw;
        line-height: 1.8rem;
    }

    .position,
    .about,
    .address {
        font-size: 0.6rem;
    }

    .about_address {
        line-height: 2.5vw;
    }

    .year,
    .college_name,
    .degree,
    .award_year,
    .award_detail,
    .detail {
        font-size: 0.7rem;
    }

    .org,
    .award_name,

    .skill_name {
        font-size: 0.8rem;
    }

    .icons {
        font-size: 3vw;
    }

    i {
        padding: 7px;
        font-size: 5vw;
        text-align: center;
    }

    .icons i {
        width: 12vw;
        height: 12vw;
        text-align: center;
        padding: 10px;
    }

    .dot {
        height: 8px;
        width: 8px;
    }

    .divider {
        height: 3px;
        width: 3px;

    }

    .small {
        height: 2px;
        width: 2px;
    }

    .org {
        font-size: 0.8rem;
    }


}